.group-create-form {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
}

.button-row {
  display: flex;
  justify-content: space-between;
}

.button-right {
  float: right;
}

.spiner-margin {
  margin: 0 10px;
}

.error-message {
  display: flex;
  justify-content: center;
  color: red;
  margin-top: 5px;
}

.error-message-text {
  margin: 10px 10px;
}
