<form class="group-create-form" #groupCreateForm="ngForm" (ngSubmit)="createGroup(groupCreateForm)" (keydown.enter)="createGroup(groupCreateForm)">
  <h2>Create group</h2>
  <mat-form-field class="container">
    <input matInput ngModel type="text" name="Name" placeholder="Name" required maxlength="50" (input)="onGroupNameChange()">
  </mat-form-field>
  <div class="button-row">
    <button [disabled]="!groupCreateForm.valid" name="submit" mat-raised-button color="primary" type="submit">
      Create
    </button>
    <mat-spinner *ngIf="progresSpinerActive" class="example-margin" diameter="35" strokeWidth="4" [color]="primary" [mode]="indeterminate"></mat-spinner>
    <button mat-raised-button color="primary" [mat-dialog-close]="someGroupCreated">
      Close
    </button>
  </div>
  <div *ngIf="errorMessageActive" class="error-message">
    <h4>{{errorMessage}}</h4>
  </div>
</form>