.big-button {
  margin: 8px 5px;
}
table {
  width: 100%;
}
.mat-form-field {
  font-size: 18px;
  width: 100%;
}
table {
  font-size: 16px;
}
mat-header-cell{
  font-size: 18px;
}
.container{
  display: flex;
  justify-content: center;
}
.content{
  width: 100%;
}
.error-message {
  display: flex;
  justify-content: center;
  color: grey;
}
.error-message-text {
  margin: 10px 10px;
}
.center-spiner {
  display: block;
  justify-content: center;
}
.spiner-margins {
  margin: 10% 10%;
}
th, td {
  text-align: left;
  width: auto;
}
.delete-button-cell {
  text-align: center;
  align-content: center;
  width: 5%;
}
