<div class="grid-container">
    <div class="cell headerCell">
        <h1>Start Learning</h1>
    </div>
    <div class="cell descriptionCell">
        <div>Create own group. Choose specific plans.</div>
        <div> Gives mentor`s support. Improve your knowledge.</div>
    </div>
    <div class="cell buttonCell sliderButton">
        <button mat-raised-button color="warn">Start Learning</button>
    </div>
    <div class="cell imageCell">
        <img src='./assets/images/forMainPage/MainPage.png' alt="MainPage" class="slider_image">
    </div>
</div>
