<div class="grid-container1L">
    <div class="cell1L1 grid-container2L">
     <div class="cell1L2">
         <h1>Start Learning</h1>
     </div>
    <div class="cell2L2">
        <div>Create own group. Choose  specific plans.</div>
        <div> Gives mentor`s support. Improve your knowledge.</div>
     </div>
     <div class="cell3L2">
         <button>
             Start Learning
         </button>
     </div>        
    </div>
    <div class="cell2L1">
        <img src='./assets/images/forMainPage/MainPage.png' alt="MainPage" class="slider_image">
    </div>
</div>