.grid-container {
    display: grid;
    background-color: #3f51b5;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    height: 300px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.cell{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider_image {
    height: 320px;
    width: auto;
    justify-content: flex-start;
}

.imageCell {
    grid-row: 1/3;
    grid-column: 4/4;
}

.headerCell {
    grid-row: 1/1;
    grid-column: 1/2;
}

.descriptionCell {
   grid-row: 2/2;
    grid-column: 1/2;
}

.buttonCell {
    grid-row: 3/3;
    grid-column: 2/3;
}

.sliderButton{
    margin: auto;
    width: 300px;
}
