<div class="grid-container">
  <div class="cell headerCell">
    <h1>Start Learning</h1>
  </div>
  <div class="cell descriptionCell">
    <div>Create own group.<br> Choose specific plans.
      <br> Gives mentor`s support.<br> Improve your knowledge.</div>
  </div>
  <div class="cell buttonCell">
    <a routerLink="plans">
      <button mat-raised-button color="warn">Learning Plans</button>
    </a>
  </div>
  <div class="cell imageCell">
    <img src='./assets/images/forMainPage/MainPage.png' alt="MainPage" class="slider_image">
  </div>
</div>
