<div class="container">
  <div class="form">
    <h2>
      {{message}}
    </h2>
    <div *ngIf="tokenValid">
      <form class="password-form" #passwordForm="ngForm">
        <mat-form-field class="input-container">
          <input matInput class="password-input" ngModel type="password" placeholder="Password" #Password ngModel name="Password" required (input)="onPasswordChange()">
        </mat-form-field>
        <mat-form-field class="input-container">
          <input matInput class="password-input" ngModel type="password" placeholder="Confirm password" #Password2 ngModel name="Password2" required (input)="onPasswordChange()">
        </mat-form-field>
        <div class="button-row">
          <button [disabled]="!passwordForm.valid" name="submit" mat-raised-button color="primary" (click)="resetPassword(passwordForm)">
            Reset password
          </button>
          <mat-spinner *ngIf="progresSpinerActive" class="spiner-margin" diameter="40" strokeWidth="4" [color]="primary" [mode]="indeterminate"></mat-spinner>
        </div>
        <div *ngIf="errorMessageActive" class="error-message">
          <h4 class="error-message-text">{{errorMessage}}</h4>
        </div>
      </form>
    </div>
    <div *ngIf="!tokenValid">
      <a routerLink="/begin-password-reset" class="forgot-password">
        <h3>Send instructions one more time</h3>
      </a>
    </div>
  </div>
</div>