.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3f51b5;
}

li{
font: 'Arial', bold;
font-size: 24;
opacity: 87%;
color: #a5c4df;
text-shadow: #2b40b8;
font: 'Arial', bold;
padding: 14px 16px;
text-decoration: none;   
margin: 0;
padding: 0;  
}
