* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.grid-container {
  left: 0;
  bottom: 0;
  width: 100%;
  position: relative;
  height: 40px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  background-color: #3f51b5;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 16px;
}

.cell1 {
  grid-column-start: 2;
  grid-column-end: 6;
  margin-top: auto;
  margin-bottom: auto;
}

.cell8 {
  grid-column-start: 8;
  grid-column-end: 8;
  padding: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.cell14 {
  grid-column-start: 14;
  grid-column-end: 14;
  margin-top: auto;
  margin-bottom: auto;
}

.cell15 {
  grid-column-start: 15;
  grid-column-end: 15;
  margin-top: auto;
  margin-bottom: auto;
}

.cell16 {
  grid-column-start: 16;
  grid-column-end: 16;
  margin-top: auto;
  margin-bottom: auto;
}
