<!--
  <div class="grid-container">
    <div class = "item1">© 2018 Learn with mentor</div> 
    <div class = "item8"> {{mainTag}} </div> 
    <div class = "item15">Contact</div>
    <div class = "item16">About</div>           
  </div>-->

<footer>
  <mat-toolbar class="mat-scroll-shrink">
    <div class="grid-container">
      <div class="item1" >© 2018 Learn with mentor</div>
      <div class="item8"> {{mainTag}} </div>
      <div class="item15">Contact</div>
      <div class="item16">About</div>
    </div>
  </mat-toolbar>
</footer>
