.profile-info{
    background-color: aliceblue;
    padding-top:10px;
    padding-bottom:15px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
}
.image-wrap{
    margin-left:auto;
    margin-right:auto;
    width:200px;
    height:200px;
    border-radius: 100%;
}
.image-wrap img{
    display: block;
    margin-left:auto;
    margin-right:auto;
    width:200px;
    height:200px;
    border-radius: 100%;
}
.profile-info h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
.profile-info h4{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    color: #9E9E9E;
}
.buttons {
    text-align: center;
}
.save-button {
    display: inline;
    position: absolute;
}
.image-wrap:hover{
    cursor: pointer;
}
.fileInput {
    display: none;
}
h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
.stats{
    margin-top:10px;
    display: flex;
}
.states-first{
    text-align: center;
    width:25%;
}
.states{
    text-align: center;
    width:25%;
    border-left-style: solid;
    border-left-color: black;
    border-left-width: 1px;
}
.stats h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.stats p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top:5px;
}

.spiner-margins {
    height: 30%;
}

.spinner-container {
    padding: 50px 50px;
}

.tasks-spinner-container {
    display: flex;
    justify-content: center;
}
