<h1>Learning plans</h1>
<div class="grid grid-pad">
  <a *ngFor="let p of plans" class="col-1-4">
    <mat-card>
        <div class="card">
          <div class="imgdiv">
            <img  *ngIf="p.imageData" [src]="p.imageData" alt="Plan image">
            <img  *ngIf="!p.imageData" src="../../../assets/images/LWMTagBlack.png" alt="Plan image">
          </div>
          <div class="textdiv">
            <h3>{{p.plan.Name}}</h3>
            <p>{{p.plan.Description}}</p>
          </div>
      </div>
    </mat-card>
  </a>
</div>
<div class="clear"></div>