<div style="height: 50px;"></div>
<div class="main container">
    <div class="search ">
        <mat-form-field class="search-input"  >
            <input 
            matInput 
            #searchBox (keyup)="search(searchBox.value)"
            placeholder="Enter user name or surname"
            />
         </mat-form-field>
      
    

<div >
    <mat-form-field>
        <mat-select placeholder="Roles">
          <mat-option *ngFor="let r of roles" [value]="r.value">
            {{ r.Name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button class="button-change">Change</button>
      <button mat-raised-button color="primary" class="button-delete">Delete</button>
      
          <div style="height: 10px;"></div>
    </div>

    
  <div class="list-users  " >
      <div class="user">        
        
              <a *ngFor="let p of users">
                    <div class="user">
                      <span>  <mat-checkbox></mat-checkbox>  {{p.LastName}}    {{p.FirstName}} {{p.Role}}</span>
                    
                    </div>
                  </a>
                  <div *ngIf="users==0" class="container" > <div class="no-result-error "><span>No result</span></div> </div>
   </div>
  
</div> 


