<h2 mat-dialog-title>Suggest deadline for {{task}}</h2>
<mat-dialog-content>
  <mat-card>
    <mat-card-content *ngIf="userTask">
      <p>Current deadline:    {{deadline}}</p>
      <div class="suggestion">
      <span id="title">Suggested deadline:    </span>
      <mat-form-field>
        <input matInput [min]="userTask.EndDate" [(ngModel)]="userTask.ProposeEndDate" [matDatepicker]="picker" disabled>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
  <hr/>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close (click)="onSubmitClick()">Submit</button>
  <button mat-raised-button (click)="onCancelClick()">Cancel</button>
</mat-dialog-actions>