<div class="container">
    <div class="content">
        <mat-card class="group-header-margins">
            <h1>
                <p>{{ group?.Name }} </p>
            </h1>
            <h2>
                <p>Mentor: {{ mentor?.FirstName }} {{mentor?.LastName}}</p>
            </h2>
        </mat-card>
        <button class="big-button" color="primary" mat-raised-button (click)="openPlanAddDialog()">
            <h3>Add plan</h3>
        </button>
        <button mat-mini-fab color="primary" (click)="openUserAddDialog()">
            +
        </button>
        <mat-tab-group mat-stretch-tabs class="mat-elevation-z4 tabs-min-height">
            <mat-tab label="Plans">
                <app-plans-display [linkId]="linkId"></app-plans-display>
            </mat-tab>
            <mat-tab label="Users">
                <app-users-display [linkId]="linkId"></app-users-display>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>