.group-header-margins{
    margin-top: 8px;
    margin-bottom: 8px;
}
mat-tab-group{
    min-height: 600px;
}
.container{
    display: flex;
    justify-content: center;
  }
.content{
    width: 80%;
}