<!-- for search -->
<div class="main container">
  <div class="search ">
    <mat-form-field class="search-input">
      <input matInput #searchBox (keyup)="search(searchBox.value,roleName)" placeholder="Enter user name or surname" />
    </mat-form-field>


    <!-- for sort -->
    <div class="flex-container ">
      <div class=" roles">
        <div (click)="getType(null,selectedType)" (click)="getByRole(paginator.PageSize, 0, -1)" [class.selected]="selectedType && role == selectedType.Name">
          All
        </div>
        <div *ngFor="let role of roles" (click)="getByRole(paginator.PageSize, 0, role.Id)" (click)="getType(role.Name,role)" [class.selected]="role === selectedType">
          {{role.Name}}
        </div>
      </div>
      <div class="state">
        <div (click)="getUsersByState(paginator.PageSize, 0, true)" [class.selected]="true === selectedState">
          Blocked
        </div>
        <div (click)="getUsersByState(paginator.PageSize, 0, false)" [class.selected]="false === selectedState">
          Active
        </div>
      </div>

    </div>

    <!-- for select -->
    <div>
      <mat-form-field>
        <mat-select placeholder="Roles">
          <mat-option *ngFor="let role of roles" [value]="role.Name" (click)="getRole(role.Name)">
            {{ role.Name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="flex-button">
        <button mat-raised-button class="button-change" (click)="updateRole(role)">Change</button>

        <div>
          <button mat-raised-button color="primary" (click)="changeState(false)">
            Unblock </button>
          <button mat-raised-button color="primary" (click)="changeState(true)">
            Block </button>
        </div>
      </div>
    </div>

    <!-- for table for users -->
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="users">


        <!-- check column -->
        <ng-container matColumnDef="Check">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox [(ngModel)]="selectedAll" (change)="selectAll()"></mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox [(ngModel)]="element.IsSelected" (change)="checkIfAllSelected()"></mat-checkbox>

          </td>
        </ng-container>

        <!-- FirstName Column -->
        <ng-container matColumnDef="LastName">
          <th mat-header-cell *matHeaderCellDef> LastName </th>
          <td mat-cell *matCellDef="let element">
            <span>{{element.LastName}}</span>
          </td>
        </ng-container>

        <!-- LastName Column -->
        <ng-container matColumnDef="FirstName">
          <th mat-header-cell *matHeaderCellDef> FirstName </th>
          <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
        </ng-container>

        <!-- Role Column -->
        <ng-container matColumnDef="Role">
          <th mat-header-cell *matHeaderCellDef> Role </th>
          <td mat-cell *matCellDef="let element">{{element.Role}} </td>
        </ng-container>

        <!-- Role Column -->
        <ng-container matColumnDef="Blocked">
          <th mat-header-cell *matHeaderCellDef> State </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.Blocked"> blocked </div>
            <div *ngIf="!element.Blocked"> active</div>

          </td>

        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <a class="ordItem" [routerLink]="['/profile', element.Id]">
              <button mat-menu-item class="user">
                View profile
              </button>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>      
    </div>
      <app-pagination *ngIf="paginator" [length]="paginator.TotalCount" 
      [pageIndex]="paginator.PageNumber" [pageSize]="paginator.PageSize" 
      (page)="onPageChange($event)"
      ></app-pagination>
  </div>