
*{
    
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.main{
   
    padding-top: 2%;
}
.user{    
    height: 50px;
}
.search{
    width: 80%;
}
.list-users{
    width: 80%;
}
.container  {
    display: flex;
    justify-content: center;
  }
 .search-input{
      width: 100%;
  }
 
  table {
    width: 100%;
  }
  .flex-container {
    display: flex;
    justify-content: flex-start;
  }
  .flex-button {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3%;
  }
  .flex-container > div {
    margin: 0.5%;
    text-decoration: none;
    color: #a2a2a2;
      }
  .choice{
      font-style:oblique;
  }  
 .selected {  
    color :#3d50b7 !important;
  }
  .roles li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
.roles > div{
    cursor: pointer;
}


