  .big-button {
    margin: 8px 5px;
  }
  table {
    width: 100%;
  }
  .mat-form-field {
    font-size: 18px;
    width: 100%;
  }
  table{
    font-size: 16px;
  }
  mat-header-cell{
    font-size: 18px;
  }
  .container{
    display: flex;
    justify-content: center;
  }
  .content{
    width: 100%;
  }
  .plan-link{
    color: blue;
  }
  .plan-link:hover{
    cursor: pointer;
  }
  .error-message {
    display: flex;
    justify-content: center;
    color: grey;
  }
  .error-message-text {
    margin: 10px 10px;
  }
  .center-spiner {
    display: block;
    justify-content: center;
  }
  .spiner-margins {
    margin: 10% 10%;
  }
  .description-cell{
    width: 50%;
    padding: 5px, 2px;
  }
  .name-cell{
    width: 15%;
    padding-right: 3px;
  }
  .delete-button-cell{
    text-align: center;
    width: 5%;
  }
  .date-cell {
    width: 10%;
  }
  .creator-cell{
    text-align: center;
  }
