<mat-toolbar color="primary">
  <div class="grid-container">
    <div class="cell1"> {{mainTag}} </div>
    <div class="cell2">
      <a routerLink="/" class="ordItem">
        <button mat-button>Start Learning</button>
      </a>
    </div>
    <div *ngIf="!isLogin" class="cell15">
      <a class="ordItem" (click)="openSignInDialog()">
        <button mat-button>
          Sign In
        </button>
      </a>
    </div>
    <div *ngIf="!isLogin" class="cell16">
      <a class="ordItem" (click)="openSignUpDialog()">
        <button mat-button>
          Sign Up
        </button>
      </a>
    </div>
    <div class="cell15-16 ordItem">
      <button mat-button *ngIf="isLogin" [matMenuTriggerFor]="menu">
        {{fullName}}
      </button>
    </div>
    <mat-menu #menu="matMenu">      
      <button mat-menu-item class="user">
        <a routerLink="profile">
          My Profile
        </a>
      </button>
      <button mat-menu-item class="user">
        <a routerLink="logout" (click)="logout()">
          Logout
        </a>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
