<mat-toolbar color="primary">
  <div class="grid-container">
    <div class="cell1"> {{mainTag}} </div>
    <div class="cell2">
      <a routerLink="/" class="ordItem">
        <button mat-button>Start Learning</button>
      </a>
    </div>
    <div *ngIf="!isLogin" class="cell15">
      <a class="ordItem" (click)="openSignInDialog()">
        <button mat-button>
          Sign In
        </button>
      </a>
    </div>
    <div *ngIf="!isLogin" class="cell16">
      <a class="ordItem" (click)="openSignUpDialog()">
        <button mat-button>
          Sign Up
        </button>
      </a>
    </div>
    <div *ngIf="isLogin" class="user">
      <a routerLink="profile">
        <button mat-button>
          {{fullName}}
        </button>
      </a>
    </div>
    <div *ngIf="isLogin" class="cell16">
      <a routerLink="logout" class="ordItem" (click)="logout()">
        <button mat-button>
          Logout
        </button>
      </a>
    </div>
  </div>
</mat-toolbar>
