ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3f51b5;
}

li {
    float: left;    
    font-size: 24;
    opacity: 87%;
    display: block;
    color: #a5c4df;
    text-shadow: #2b40b8;
    font: 'Arial', bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;        
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #2b40b8;
}