* {    
  font-family: Roboto,"Helvetica Neue",sans-serif;
}
.main {   
  padding-top: 2%;
}
.search {
  width: 90%;
}
.container  {
  display: flex;
  justify-content: center;
}
.search-input {
    width: 100%;
} 
table {
  width: 100%;
}
.button-row {
  display: flex;
  justify-content: space-between;
}
.center-spiner {
  display: flex;
  justify-content: center;
}
.spiner-margins {
  margin: 10% 10%;
  height: 40%;
}
.error-message {
  display: flex;
  justify-content: center;
  color: red;
  margin: 5px 5px;
}