<div>
      <mat-card class="cardUpdate">          
          <img mat-card-image class="cardImage" src='./assets/images/1.png' alt="teaching.png">
          <mat-card-content class="cardContent">
            <h2>Work with mentor</h2>
            <p>You can create groups and choose any plans which are interested you.
              <br>You can ask some questions and gives a answer from your friends or mentor. </p>
          </mat-card-content>          
        </mat-card>
        
        <mat-card class="cardUpdate">          
            <img mat-card-image class="cardImage" src='./assets/images/teamwork.png' alt="TeachingPhoto">
            <mat-card-content class="cardContent">
                <h2>Team work</h2>
                <p>You can create groups and choose any plans which are interested you.<br>
                  You can ask some questions and gives a answer from your friends or mentor. </p>
            </mat-card-content>          
          </mat-card>
          <mat-card class="cardUpdate">          
              <img mat-card-image class="cardImage" src='./assets/images/1.png' alt="teaching.png">
              <mat-card-content class="cardContent">
                <h2>Work with mentor</h2>
                <p>You can create groups and choose any plans which are interested you.
                  <br>You can ask some questions and gives a answer from your friends or mentor. </p>
              </mat-card-content>          
            </mat-card>
            
            <mat-card class="cardUpdate">          
                <img mat-card-image class="cardImage" src='./assets/images/teamwork.png' alt="TeachingPhoto">
                <mat-card-content class="cardContent">
                    <h2>Team work</h2>
                    <p>You can create groups and choose any plans which are interested you.<br>
                      You can ask some questions and gives a answer from your friends or mentor. </p>
                </mat-card-content>          
              </mat-card>
        
</div>   
  
