* {    
    font-family: Roboto,"Helvetica Neue",sans-serif;
  }
.main{
    width: 100%; 
}
.search-input{
    width: 100%;
}
table {
    width: 100%;
  }
.buttons{
    margin-top: 3%;
    display: flex;     
    flex-direction: row;
    justify-content: flex-end;   
}
.scrollit {
    height: 450px;
    overflow: auto;
  }
mat-form-field{
      width: 90%;
  }
  .center-spiner {
    display: flex;
    justify-content: center;
  }
