* {    
    font-family: Roboto,"Helvetica Neue",sans-serif;
  }
.main{
    width: 100%; 
}
.search-input{
    width: 100%;
}
table {
    width: 100%;
  }
.buttons{
    margin-top: 3%;
    display: flex;     
    flex-direction: row;
    justify-content: space-around;   
}