<div class="main">
  <mat-form-field class="search-input">
    <input matInput #searchBox placeholder="Enter name of task" />
  </mat-form-field>


  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="tasks">


      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name </th>
        <td mat-cell *matCellDef="let element">
          <span>{{element.Name}}</span>
        </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
      </ng-container>

      <!-- Add Column -->
      <ng-container matColumnDef="Add">
        <th mat-header-cell *matHeaderCellDef>Add task</th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab color="primary" (click)="getTask($event,element.Id)">
            +
          </button>
          
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
  <div class="buttons">
    <button mat-raised-button (click)="console()">Add new task</button>

    <button mat-raised-button>Cancel</button>
  </div>
</div>