<div class="main container">
  <div class="groups">
    <div class="groups-header-row">
      <h2>
        Hi, {{userName}}
      </h2>
      <button *ngIf="isMentor" mat-raised-button color="primary" (click)="openGroupCreateDialog()">Add group</button>
    </div>
    <div class="center-spiner">
      <mat-spinner *ngIf="!dataLoaded" class="example-margins" [color]="primary" [mode]="indeterminate"></mat-spinner>
    </div>
    <mat-accordion *ngIf="dataLoaded">
      <mat-expansion-panel *ngFor="let group of groups">
        <mat-expansion-panel-header (click)="expandPanel($event.target)">
          <mat-panel-title>
            {{group.Name}}
          </mat-panel-title>
          <mat-panel-description>
            Mentor: {{group.MentorName}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="no-padding">
          <app-specific-group [group]="group" class="no-padding"></app-specific-group>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div *ngIf="errorMessageActive" class="error-message">
      <h4>{{errorMessage}}</h4>
    </div>
  </div>
</div>