<div class="main container">
  <div class="groups">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let group of groups">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{group.Name}}
          </mat-panel-title>
          <mat-panel-description>
            Mentor: {{group.MentorName}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-specific-group [group]="group" class="no-padding"></app-specific-group>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>