<div class="main container">
  <div class="groups">
    <div class="name-container">
      <h2>
        Hi, {{userName}}
      </h2>
      <button *ngIf="isMentor" mat-raised-button color="primary" (click)="openGroupCreateDialog()">Add group</button>
    </div>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let group of groups">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{group.Name}}
          </mat-panel-title>
          <mat-panel-description>
            Mentor: {{group.MentorName}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="no-padding">
          <app-specific-group [group]="group" class="no-padding"></app-specific-group>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>