<h2 mat-dialog-title>Your result for {{task.Name}}</h2>
<mat-dialog-content>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Task description:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{task.Description}}</p>
    </mat-card-content>
  </mat-card>
  <hr/>
  
      <mat-form-field *ngIf="userTask" class="input-full-width">
          <textarea class="input-height" matInput placeholder="Your task progress"
          #descriptionTbx *ngIf="userTask" [(ngModel)]="userTask.Result"></textarea>
      </mat-form-field>

  
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button mat-dialog-close (click)="onSubmitClick()">Submit</button>
</mat-dialog-actions>