<div *ngIf="tasksInPlan; else elseBlock">
  <h3>Tasks in the plan</h3>
</div>
<ng-template #elseBlock>
  <h3>Tasks not in the plan</h3>
</ng-template>
<mat-list class="tasksList">
  <mat-list-item *ngFor="let task of tasks">
    {{task.Name}} {{task.Description}}
    <div *ngIf="tasksInPlan; else elseBlock">
      <button mat-button (click)="onChange(task)">
        Delete
      </button>
    </div>
    <ng-template #elseBlock>
      <button mat-button (click)="onChange(task)">
        Add
      </button>
    </ng-template>
  </mat-list-item>
</mat-list>