<h2 mat-dialog-title>Edit {{plan.Name}} </h2>
<mat-dialog-content>
  <h3>Plan name:</h3>
  <textarea matInput placeholder="Plan name" #nameTbx>{{plan.Name}}</textarea>
  <h3>Plan description:</h3>
  <textarea matInput placeholder="Plan description" #descriptionTbx>{{plan.Description}}</textarea>
  <input class="fileInput" type="file" (change)="onFileSelected($event)" accept="image/jpeg, image/jpg, image/png" #fileInput/>
  <img class="pic" *ngIf="imageData" [src]="imageData" id="newImage" alt="Plan image">
  <p *ngIf="selectedFile"> You selected an image! </p>
  <br/>
  <button mat-button (click)="fileInput.click()">Select plan image</button>
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <app-tasks-list-editor [tasks]="tasksInPlan" [tasksInPlan]="true" (taskChange)="onTaskChange(true,$event)"></app-tasks-list-editor>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-task-creator [planId]="plan.Id" [tasks]="tasksInPlan"> </app-task-creator>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button mat-dialog-close (click)="onSaveClick(nameTbx.value, descriptionTbx.value)">Save</button>
  </mat-dialog-actions>