.example-form {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
  }

  .example-container > * {
    width: calc(100%/3);
    justify-content: center;
  }

  .container-update{
    width: 100%;
  }

.button-right{
  float: right;
}
