<h1>Welcome! Tell us who you are...</h1>
<form class="example-form">
  <mat-form-field class="example-full-width containerUpdate">
    <input matInput type="text" placeholder="Your name">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width containerUpdate">
    <input matInput type="email" placeholder="Your email">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width containerUpdate">
    <input matInput type="password" placeholder="Enter Password">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width containerUpdate">
    <input matInput type="password" placeholder="Confirm your Password">
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary">
    Create Profile
  </button>
  <br>
</form>
