<div *ngIf="task">
  <mat-card>
    <mat-card-title>{{task.Name}}</mat-card-title>
    <mat-card-content>
      <p>
        <h3>{{task.Description}}</h3>
    </mat-card-content>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Show details</mat-expansion-panel-header>
      <mat-card-content>
        <p>
          Create by: {{task.CreatorName}}
        </p>
        <p>
          Create date: {{task.CreateDate}}
        </p>
        <div *ngIf="task.ModifierName">
          <p>
            Modify by: {{task.ModifierName}}
          </p>
          <p>
            Modify date: {{task.ModDate}}
          </p>
        </div>
      </mat-card-content>
    </mat-expansion-panel>    
    <div>
      <mat-card-actions>
        <button mat-button (click)="openEditDialog()">
          Edit
        </button>
        <button mat-button (click)="openSubmitDialog()">
          Submit
        </button>
        <button mat-button (click)="openConversationDialog()">
          Conversation
        </button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>