<div class="container">
  <div class="form">
    <h1>Forgot your password?</h1>
    <h3>Enter your email</h3>
    <form class="email-form" #emailForm="ngForm">
      <mat-form-field class="input-container">
        <input matInput class="email-input" ngModel type="email" placeholder="Email" #Email ngModel name="Email" required (input)="onEmailChange()">
      </mat-form-field>
      <div class="button-row">
        <button [disabled]="!emailForm.valid" name="submit" mat-raised-button color="primary" type="submit" (click)="sendPasswordResetEmail(emailForm)">
          Send reset instructions
        </button>
        <mat-spinner *ngIf="progresSpinerActive" class="spiner-margin" diameter="40" strokeWidth="4" [color]="primary" [mode]="indeterminate"></mat-spinner>
      </div>
      <div *ngIf="errorMessageActive" class="error-message">
        <h4 class="error-message-text">{{errorMessage}}</h4>
      </div>
      <div class="button-row">
        <button *ngIf="confirmationActive" name="confirm" mat-raised-button color="primary" (click)="sendEmailConfirmationInstructions(emailForm)">
          Send confirmation instructions
        </button>
        <mat-spinner *ngIf="progresConfirmationSpinerActive" class="spiner-margin" diameter="40" strokeWidth="4" [color]="primary" [mode]="indeterminate"></mat-spinner>
      </div>
    </form>
  </div>
</div>