.cardImage{   
    height: 100px;
    float: right;
    width: auto;
}

.cardContent{
    text-align: center;
    font-size: 20px;
    width: 75%;
}

.cardUpdate{
    position: relative;
    left: 12.5%;
    width: 70%;
    height: auto;
    margin: 15px;
}


