h1{
  margin-bottom: 0;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardImage{
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
    float: right;
    width: auto;
}

.cardContent{
    text-align: center;
    font-size: 20px;
    width: 75%;
}

.cardUpdate{
    justify-content: center;
    width: 70%;
    height: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
