<div class="add-new-plan">

  <h1 class="header"> Create plan</h1>
  <div class="new-plan">
  <div class="for-image">
    <img class="plan-icon" class="pic" [src]="imageData" id="newImage">
    <input class="fileInput" type="file" (change)="onFileSelected($event)" accept="image/jpeg, image/jpg, image/png" #fileInput/>  
    <button mat-raised-button color="primary" class="center" (click)="fileInput.click()">Select plan image</button>
  </div>
  <div class="for-data">
    
      <div class="input-name">
          <mat-form-field class="input-text">
            <input matInput placeholder="Enter name of your plan" [(ngModel)]="name">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="input-text">
            <textarea matInput placeholder="Enter description of your plan" class=" input-description" [(ngModel)]="description"></textarea>
          </mat-form-field>
        </div>
        <div class=" block">
        <!-- <mat-checkbox>Published</mat-checkbox> -->
        
    <button mat-raised-button color="primary" (click)="createPlan()" *ngIf="!addTask">Create plan</button>
        
      </div>

    </div>
  </div>

  <div class="mat-elevation-z8" *ngIf="result">
    <table mat-table [dataSource]="result">


      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name </th>
        <td mat-cell *matCellDef="let element">
          <span>{{element.Name}}</span>
        </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
 
  <div class="button-create-plan" *ngIf="addTask">
   
      <button mat-raised-button color="primary" (click)="openAddTasks()">Add tasks</button>
  </div>
</div>