.header{
text-align: center;
}
table{
    width:100%;
}
.add-new-plan{
 width: 70%;
margin-top: 5%;
margin-left: auto;
margin-right: auto;
}
.new-plan{ 
   display: flex;
}
.for-image{
    width: 30%;
     text-align: center;
}


.for-data{
    width: 70%;
}
.input-text{
    width: 100%;
}
.input-description{
height: 200px;
}

.fileInput {
    display: none;
}
.pic{
    width: 80%;
    height: 85%;
    
    text-align: center;
}

.button-data{
min-width: 25%;

}
.button-image{
   width: 40%;
   min-width: 100px !important;
   text-align: center;
}
