* {    
    font-family: Roboto,"Helvetica Neue",sans-serif;
  }
  .search {
    width: 90%;
  }
  .container  {
    display: flex;
    justify-content: center;
  }
  .search-input {
      width: 100%;
  } 
  table {
    width: 100%;
  }
  .button-row {
    display: flex;
    justify-content: space-between;
  }
  .center-spiner {
    display: flex;
    justify-content: center;
  }
  .spiner-margins {
    margin: 10% 10%;
    height: 40%;
  }
  .error-message {
    display: flex;
    justify-content: center;
    color: red;
    margin: 5px 5px;
    height: 450px;
  }
  .scrollit {
    height: 450px;
    overflow: auto;
  }
  .description-cell{
    width: 40%;
    padding: 5px, 2px;
  }
  .date-cell {
    width: 10%;
  }
  .name-cell{
    width: 15%;
  }
  .add-button-cell{
    text-align: center;
    width: 5%;
  }
  .creator-cell{
    text-align: center;
  }