.example-form {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.example-container>* {
  width: calc(100%/3);
}

.containerUpdate {
  width: 100%;
}

.button-right{
  float: right;
}

.forgot-password{
  margin-bottom: 15px;
  text-decoration: none;
}
