<form class="example-form" #loginForm="ngForm" (ngSubmit)="OnSubmit(loginForm)">
  <h1>Sign In</h1>
  <mat-form-field class="example-full-width containerUpdate">
    <input matInput type="email" placeholder="Your email" #Email ngModel name="Email" placeholder="Email" required>
  </mat-form-field>
  <mat-form-field class="example-full-width containerUpdate">
    <input matInput type="password" placeholder="Enter Password" #Password ngModel name="Password" placeholder="Password" required>
  </mat-form-field>
  <a routerLink="/begin-password-reset" class="forgot-password" (click)="hideDialog()">
    <div>Forgot password?</div>
  </a>
  <div>   
    <span >
      <button [disabled]="!loginForm.valid" mat-raised-button color="primary" type="submit">
        Submit
      </button>
    </span>
    <span class="button-right">
      <button mat-raised-button color="primary" mat-dialog-close>
        Cancel
      </button>
    </span>
  </div>
</form>
