<div class="content">
    <div class="usersC">
        <app-specific-plan-for-mentor *ngIf="!is_student" [isLoadedUsers]="isLoadedUsers" [users]="users" (selectedUser)="selectedUserbyMentor($event)"></app-specific-plan-for-mentor>
      </div>
  <div class="sections">
    <div class="section" *ngFor="let section of sections; let j = index">
      <mat-expansion-panel [expanded]='!isExpanded'>
        <mat-expansion-panel-header>
          <mat-panel-title>
              <h2 mat-dialog-title>
            {{section.Name}}
            </h2>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="tasks" *ngFor="let t of section.Content.Tasks; let i = index">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="checkbox" *ngIf="is_student">
                  <mat-checkbox [disabled]="isTaskApproved(section.Content.UserTasks[i].State) || isUserTaskExpiration(section.Content.UserTasks[i])" *ngIf="isLoadedUser" id="{{section.Content.UserTasks[i].Id}}"
                    (change)="sendState(j, i, $event)" [checked]="isChecked(section.Content.UserTasks[i].State)"></mat-checkbox>
                </div>
                <span class="title">
                  {{t.Name}}
                </span>
                <img *ngIf="isLoadedUser" [src]="section.Content.UserTasks[i].Image" width="20px" height="20px"/> <!--"../../../assets/images/approved.png"-->
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="buttons" *ngIf="isLoadedUser">
              <div class="result">
                <button mat-raised-button class="button-change" (click)="onResultClick(section.Content.UserTasks[i], section.Content.Tasks[i])">Result</button>
                <button mat-raised-button class="button-change" (click)="onConversationClick(section.Content.UserTasks[i], section.Content.Tasks[i])">Conversation</button>
              </div>
              <div>
              <mat-form-field>
                <input matInput [min]="section.Content.UserTasks[i].EndDate" [value]="section.Content.UserTasks[i].EndDate" [matDatepicker]="picker" disabled>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
              </mat-form-field>
              <button mat-raised-button (click)="onSuggestDeadlineClick(t.Name, section.Content.UserTasks[i])">Suggest end date</button>
              </div>
              <div class="review" *ngIf="!is_student">
                <button mat-raised-button class="button-change" [disabled]="!isTaskDone(section.Content.UserTasks[i].State)" (click)="approve(j, i)">Approve</button>
                <button mat-raised-button class="button-change" [disabled]="!isTaskDone(section.Content.UserTasks[i].State)" (click)="reject(j, i)">Reject</button>
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
 
</div>
