.content {
    margin-top: 100px;
    justify-content: space-around;  
    flex-direction: row;
    align-items: flex-start;
    display: flex ;
}

.sections{
    width: 65%;
    justify-content: space-between;  
    flex-direction: column;
    display: flex;
}

::ng-deep .mat-expansion-panel-header-description, .mat-expansion-panel-header-title{
    justify-content: space-between !important;
}

::ng-deep .mat-expansion-panel-body{
    padding: 0 !important;
}

::ng-deep .mat-checkbox-inner-container {
    height: 17px !important;
    width: 17px !important;
}

::ng-deep .mat-content {
    overflow: visible !important;
}

::ng-deep .mat-form-field-infix{
    width: 70px !important;
}

#group_name{
    float: right;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 15px;
    padding: 20px;
}

textarea{
    height: 100px;
}

button{
    margin-bottom: 20px;
}

.buttons{
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.usersC{
    /* width: auto; */
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 1px; 
    padding: 5px;
}