<button class="big-button" color="primary" mat-raised-button (click)="openPlanAddDialog()">
  <h3>Add plan</h3>
</button>

<div class="container">
  <div class="content">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>


    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef> Description. </th>
        <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
      </ng-container>

      <ng-container matColumnDef="Create by">
        <th mat-header-cell *matHeaderCellDef> Create by </th>
        <td mat-cell *matCellDef="let element"> {{element.CreatorFirstName}} {{element.CreatorLastName}} </td>
      </ng-container>

      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.CreateDate}} </td>
      </ng-container>

      <ng-container matColumnDef="Is published">
        <th mat-header-cell *matHeaderCellDef> State </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.Published"> published </div>
          <div *ngIf="!element.Published"> not published</div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>